{% include "cv_to_pdf/navigation_menu.html" %}

<!DOCTYPE html>
<html>
    <body class="body">
        <nav class="navbar navbar-inverse" style="margin-top: 0px">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="topNavBar">
                    <ul class="nav navbar-nav" style="list-style-type: none">
                        {% for group in department.get_groups %}
                            <li class="">
                                <a href="{% url 'cv:group_detail' pk=department.id group_id=group.id%}">{{ group.group_name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>

        <div>
            {% block content %}
            {% endblock %}
        </div>

    </body>
</html>
