{% extends "cv_to_pdf/navigation_menu.html" %}

{% block content %}
    <nav class="navbar navbar-inverse" style="margin-top: 0px">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="topNavBar">
                <ul class="nav navbar-nav" style="list-style-type: none">
                    {% for group in department.get_groups %}
                        <li class="">
                            <a href="/departments/{{ department.id }}/{{ group.id }}/">{{ group.group_name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}