{% extends 'cv_to_pdf/department_detail.html' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            {% for person in group.get_employees %}
                <div class="col-sm-4 col-lg-3">
                    <div class="thumbnail">
                        <div class="caption">
                            <a href="{% url 'cv:person_detail' pk=department.id group_id=group.id person=person.id%}">
                                <img src="../../../media/cv_to_pdf/images/user.png" class="img-responsive" style="background-color: lightgrey">
                            </a>
                            <h2>{{ person.first_name }} {{ person.last_name }}</h2>
                            <h4>{{ person.role }} developer</h4>

                            <!-- View Details -->
                            <a href="{% url 'cv:person_detail' pk=department.id group_id=group.id person=person.id %}" class="btn btn-primary btn-sm" role="button">
                                View Details
                            </a>

                        </div>
                    </div>
               </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}